doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/comlist.css')
    link(rel='stylesheet', href='/stylesheets/com.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css') 
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')   
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    link(rel='stylesheet', href='/angular-bootstrap-datetimepicker/src/css/datetimepicker.css')
  body(ng-app='kamn')
    block content
    script(src='/angular/angular.js')
    script(src='/javascripts/angular/angular-route.js')
    script(src='/javascripts/angular/angular-local-storage.js')
    script(src='/javascripts/com.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/jquery-2.1.3.js')
    script(src='/javascripts/sweetalert.min.js')
    script(src='/moment/moment.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')