extends layout


block content
    section.communication
       ol.breadcrumb
         li One-one Communication
         li(ng-model='signInUserName') {{ signInUserName }}
         li Canceled Communications
       .btn-group
           a.btn.btn-success(href='#/comlist' style="margin-bottom: 15px;") Avaliable 
           a.btn.btn-danger(href='#/comlist_canceled' style="margin-botton: 15px;") Canceled 

       table.table.table-condensed.table-hover
          thead
              tr
                 th English Name
                 th Project
                 th Subject
                 th Start Time
                 th End Time
                 th Cancel Reason
                 th Action
          tbody 
              tr(ng-repeat = "com in coms | orderBy: 'starttime'")
                 td {{com.username}}
                 td {{com.project.name}}
                 td {{com.subject}}
                 td {{com.starttime | date:'short' }}
                 td {{com.endtime | date:'short' }}
                 td {{com.reason}}
                 td
                   a.btn.btn-success.btn-xs(ng-click='revertCom(com._id, com.username)' style="width:80px;") Revert